[submodule "SandEngine/vendor/spdlog"]
	path = SandEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "SandEngine/vendor/GLFW"]
	path = SandEngine/vendor/GLFW
	url = https://github.com/RecoAaron/glfw.git
[submodule "SandEngine/vendor/imgui"]
	path = SandEngine/vendor/imgui
	url = https://github.com/RecoAaron/imgui.git
[submodule "SandEngine/vendor/glm"]
	path = SandEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
